<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		<!-- refresh the page every minute, because the client closes the connection??? -->
		<meta http-equiv="refresh" content="60">
	</head>
    <body>
        <script>
         if(typeof(EventSource) !== "undefined") {
             var source = new EventSource("/gen/");
             source.onmessage = function(event) {
                 var e = document.getElementById("result")
			 e.innerHTML = "<div class='alert alert-success'>" + event.data + "</div>";
                 if (event.data != "kp") {
                     var audio = new Audio(event.data);
                     audio.play();
                 };
             };
             source.onerror = function(e) {
                 console.log(e);
             };
         } else {
             document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
         }

         function call(id) {
             var xhr = new XMLHttpRequest();
             xhr.open("GET", "/set/" + id, true);
             xhr.send(null);
         }
        </script>
	<div class="container-fluid">
		
		{% for button in buttons %}
		<button type="button" class="btn btn-outline-light border " onclick="call('{{ button }}')"> {{ button }} </button>
		{% endfor %}
        	<div id="result"></div>
	</div>
    </body>
</html>

<style>
	body{background-color: #2d2d2d}
	.border { margin-bottom: 3px;}
	#result { margin-top: 3px }
</style>
